#### 주어진 Dataset에서 age컬럼의 중앙값으로 해당 컬럼의 결측치를 대체함 해당 컬럼 대치 전후의 표준편차 차이를 구하라.
</br> [ train.csv ] 활용

In [1]:
import pandas as pd

In [4]:
a=pd.read_csv('C:/Users/user/jupyter/빅분기/datasets/titanic/train.csv')
print(a.shape) # 행과 열 수 확인
a.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
a.isnull().sum() # 결측치 확인

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
am=a['Age'].median() # 'am' 이라는 변수에 age의 중앙값을 저장함 
a1=a['Age'].fillna(am) # age 결측치를 중앙값으로 채움
a1

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [10]:
print(a['Age'].shape)
print(a1.shape) # 결측치가 채워진것을 확인
print(a['Age'].std()) # std -> 표준편차
print(a1.std())

(891,)
(891,)
14.526497332334044
13.019696550973194

In [12]:
result = a['Age'].std()-a1.std() # 결측치 대치 전 후 의 표준편차 차이
result

1.50680078136085