#### 데이터 세트의 AGE 칼럼을 소수점 첫 번째 자리에서 반올림하고, 가장 많은 비중을 차지하는 AGE 값과 그 개수를 차례대로 출력하시오. 즉, AGE칼럼의 최빈값과 그 개수를 출력하시오.

[ boston.csv ]->활용

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./boston.csv')
print(df.shape) # 데이터셋의 행과 열 확인하기
df.head()

(506, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
# age 컬럼 확인하기
df['AGE']

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [4]:
# round = 반올림, 0은 소수점 첫번째 자리에서 반올림
df_r = pd.DataFrame(round(df['AGE'],0))
df_r

      AGE
0    65.0
1    79.0
2    61.0
3    46.0
4    54.0
..    ...
501  69.0
502  77.0
503  91.0
504  89.0
505  81.0

[506 rows x 1 columns]

In [5]:
df_c=df_r.value_counts().to_frame()
df_c.reset_index(drop=False, inplace=True)
df_c

      AGE   0
0   100.0  43
1    98.0  19
2    97.0  17
3    94.0  16
4    96.0  15
..    ...  ..
86   14.0   1
87   13.0   1
88    9.0   1
89   51.0   1
90    3.0   1

[91 rows x 2 columns]

In [6]:
# 시험 결과는 꼭 숫자만 출력해야함
result=df_c.iloc[0,0], df_c.iloc[0,1]
result

(100.0, 43)

In [7]:
df_c.iloc[0] # 이건 columns명도 출력되니까 이방법은 xxx

AGE    100.0
0       43.0
Name: 0, dtype: float64