In [1]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import roc_auc_score

In [2]:
train=pd.read_csv('./titanic_train.csv')
test=pd.read_csv('./titanic_test.csv')

print(train.shape,test.shape)

(891, 12) (418, 11)

In [3]:
'''
PassengerId : 각 승객의 고유 번호
Survived : 생존 여부 -> 0 = 사망 / 1 = 생존
Pclass : 객실 등급
Name : 이름
Sex : 성별
Age : 나이
SibSp : 동반한 형제자매와 배우자 수
Parch : 동반한 부모, 자식 수
Ticket : 티켓의 고유넘부
Fare : 티켓의 요금
Cabin : 객실 번호
Embarked : 승선한 항

'''
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# PassengerId를 비롯해 모델을 돌리는 작업에 필요없는 컬럼 삭제하기
x_train = train.drop(columns = ['PassengerId','Survived','Name','Ticket','Cabin'])

x_test_id = test['PassengerId'] # 결과표에 붙일 예정
x_test = test.drop(columns = ['PassengerId','Name','Ticket','Cabin'])

# train에 있는 종속변수 survived y_train에 저장하기
y_train = train[['Survived']]

In [5]:
x_train.isnull().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [6]:
x_test.isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [7]:
x_train['Age'] = x_train['Age'].fillna(x_train['Age'].median())
x_test['Age'] = x_test['Age'].fillna(x_test['Age'].median())

In [8]:
'''
method의 종류로는 결측치 바로 뒤에값으로 채워주는'bfill'과 앞에 값으로 채워주는 'ffill'이 있다.
method를 적용하고나면 꼭 isnull().sum()으로 확인해야한다.
왜냐하면 맨 앞과 맨 마지막 컬럼이 nan값이면 채워질 값이 없어 두개의 method중 하나는 여전히 nan값으로 남는다.
위와같은 이유로 해당 csv파일에서 method를 'ffill'을 적용시킨다면 결측치가 다 채워지지 않는다.
'''

nan = ['Embarked','Fare']

for i in nan:
    x_train[i] = x_train[i].fillna(method = 'bfill') # 결측치를 바로 뒤에 값으로 채운다
    x_test[i] = x_test[i].fillna(method='bfill')

In [9]:
x_train.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [10]:
x_test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [11]:
# label encoding작업 전 dytpe이 object , category인 즉, 숫자가 아닌 문자열인 컬럼을 찾는다.
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [12]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [13]:
encoder = LabelEncoder()
label = ['Sex','Embarked']

x_train[label] = x_train[label].apply(encoder.fit_transform)
x_test[label] = x_test[label].apply(encoder.fit_transform)

In [14]:
# 확인하기
x_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [15]:
x_test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [16]:
x_train.describe() # min, max 값들을 기준으로 연속형 값들을 minmaxscaling 한다.

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,0.647587,29.361582,0.523008,0.381594,32.204208,1.534231
std,0.836071,0.477990,13.019697,1.102743,0.806057,49.693429,0.793021
min,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400,1.000000
50%,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200,2.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,2.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,2.000000

In [17]:
scaler = MinMaxScaler()
minmax = ['Age','Fare']

scaler.fit(x_train[minmax])
x_train[minmax] = scaler.transform(x_train[minmax])

scaler.fit(x_test[minmax])
x_test[minmax] = scaler.transform(x_test[minmax])

In [18]:
x_train.head()

   Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0       3    1  0.271174      1      0  0.014151         2
1       1    0  0.472229      1      0  0.139136         0
2       3    0  0.321438      0      0  0.015469         2
3       1    0  0.434531      1      0  0.103644         2
4       3    1  0.434531      0      0  0.015713         2

In [19]:
y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [20]:
# train, validation 나누기
x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, stratify = y_train['Survived'],
                                                   test_size = 0.2, random_state = 2022)

x_tr.shape, x_val.shape, y_tr.shape, y_val.shape

((712, 7), (179, 7), (712, 1), (179, 1))

In [21]:
rfc = RandomForestClassifier(n_estimators = 100 ,max_depth = 3)
rfc.fit(x_tr, y_tr)
pred = rfc.predict_proba(x_val)[:,1] # predict_proba를 한다면 뒤에 [:,1]을 해줘야됨
pred

C:\Users\user\AppData\Local\Temp\ipykernel_18560\1395071267.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(x_tr, y_tr)

array([0.366989  , 0.13951046, 0.44109757, 0.12864528, 0.3699501 ,
       0.14072171, 0.12551596, 0.41027996, 0.40028939, 0.70457891,
       0.14530648, 0.42962993, 0.17666355, 0.23042026, 0.31249967,
       0.25695938, 0.72527504, 0.71966101, 0.77316692, 0.16254172,
       0.48104176, 0.49877867, 0.77995317, 0.76812974, 0.42166646,
       0.14101588, 0.36356592, 0.12864528, 0.25695938, 0.1474505 ,
       0.14289806, 0.49082429, 0.24941496, 0.13647822, 0.2194721 ,
       0.12430471, 0.36419202, 0.49932184, 0.74727935, 0.26027028,
       0.12430471, 0.23381938, 0.18307712, 0.21345656, 0.50143154,
       0.43043819, 0.33660222, 0.14538208, 0.45177714, 0.36652703,
       0.78948878, 0.70908735, 0.50663769, 0.22785851, 0.1311299 ,
       0.12430471, 0.44293445, 0.81478855, 0.32380345, 0.40428172,
       0.57763881, 0.39985158, 0.36652703, 0.2170769 , 0.14072171,
       0.22068335, 0.18829898, 0.7617287 , 0.31249967, 0.48719469,
       0.46051502, 0.72078748, 0.53463618, 0.18829898, 0.5017383 ,
       0.42251531, 0.77134357, 0.39036105, 0.12185514, 0.21745824,
       0.22955833, 0.42688833, 0.54698163, 0.16551178, 0.12287776,
       0.49589815, 0.14755844, 0.15383851, 0.49237058, 0.13844401,
       0.14101588, 0.80389309, 0.31017015, 0.30067416, 0.51425133,
       0.68405949, 0.71834264, 0.13431547, 0.25695938, 0.14807958,
       0.42688833, 0.14223977, 0.25895631, 0.18480327, 0.14807958,
       0.18277443, 0.35959171, 0.40428172, 0.32480735, 0.21586565,
       0.16203697, 0.14688308, 0.14102852, 0.68737038, 0.12430471,
       0.48785399, 0.65255442, 0.77263829, 0.75668847, 0.68737038,
       0.25695938, 0.13615476, 0.14278714, 0.3664741 , 0.14182723,
       0.39436329, 0.12111914, 0.3456254 , 0.23133343, 0.14569188,
       0.25695938, 0.19098521, 0.52373298, 0.36652703, 0.26027028,
       0.366989  , 0.29970211, 0.35497827, 0.20700206, 0.68737038,
       0.52486337, 0.18829898, 0.18829898, 0.2031498 , 0.14538208,
       0.74689685, 0.16293263, 0.14954436, 0.49877867, 0.1515015 ,
       0.14072171, 0.14992977, 0.45221588, 0.50625987, 0.40724283,
       0.25895631, 0.14998046, 0.70207373, 0.43734757, 0.7739087 ,
       0.70207373, 0.16293263, 0.21851907, 0.80159952, 0.77134357,
       0.78698485, 0.75396282, 0.14343521, 0.13168447, 0.18829898,
       0.72067764, 0.49491179, 0.20024015, 0.49877867, 0.2194721 ,
       0.77476288, 0.26335382, 0.54797051, 0.14101588])

In [22]:
print(roc_auc_score(y_val, pred)) # 1에 가까울수록 좋음

0.8590250329380764

In [23]:
xg = XGBClassifier(n_estimators = 100 ,max_depth = 3)
xg.fit(x_tr, y_tr)
pred = xg.predict_proba(x_val)[:,1]
pred

array([0.75679016, 0.01780268, 0.7346408 , 0.06768073, 0.6628271 ,
       0.03069706, 0.02254575, 0.51992667, 0.13194044, 0.866137  ,
       0.12582506, 0.91558146, 0.00806837, 0.03535495, 0.08022736,
       0.16813965, 0.8641747 , 0.9385185 , 0.99546945, 0.0319758 ,
       0.26312244, 0.74468386, 0.9678441 , 0.93586385, 0.3787995 ,
       0.09236454, 0.10327721, 0.06768073, 0.2029866 , 0.13244137,
       0.25253728, 0.6335468 , 0.07155852, 0.01617529, 0.07483833,
       0.06849186, 0.32429352, 0.65175885, 0.7973817 , 0.18136977,
       0.06075306, 0.10470828, 0.02016026, 0.06258717, 0.7772227 ,
       0.38091323, 0.94139576, 0.08039083, 0.02346894, 0.2640474 ,
       0.9707695 , 0.83620095, 0.78087187, 0.11712567, 0.01423784,
       0.06075306, 0.668325  , 0.9802862 , 0.9550367 , 0.4132798 ,
       0.9302484 , 0.03262201, 0.4835772 , 0.17781436, 0.05192732,
       0.0858712 , 0.19895728, 0.97378236, 0.06821967, 0.17094964,
       0.651435  , 0.91933054, 0.98074603, 0.19895728, 0.253581  ,
       0.14046568, 0.998855  , 0.03233508, 0.00622222, 0.14153609,
       0.02940139, 0.7060625 , 0.43549576, 0.07877291, 0.01511867,
       0.30170915, 0.60609376, 0.11157642, 0.13559319, 0.14319326,
       0.12321038, 0.95308346, 0.05329882, 0.08262797, 0.9376495 ,
       0.91567343, 0.9582728 , 0.03799181, 0.2108988 , 0.10909278,
       0.7294283 , 0.04613879, 0.15657979, 0.09029983, 0.12621072,
       0.07472347, 0.04301368, 0.4132798 , 0.11174553, 0.08915403,
       0.09646838, 0.07442468, 0.08403652, 0.91839236, 0.06849186,
       0.709467  , 0.88448334, 0.96354616, 0.9812151 , 0.91839236,
       0.18980822, 0.09438857, 0.05683002, 0.05003023, 0.05980499,
       0.10479931, 0.02312716, 0.12739411, 0.07877291, 0.02083126,
       0.17612371, 0.15563594, 0.58073086, 0.61452454, 0.26090333,
       0.6743398 , 0.0606723 , 0.48092437, 0.01196753, 0.9149906 ,
       0.6219622 , 0.19895728, 0.19895728, 0.04312506, 0.08039083,
       0.9896359 , 0.11889385, 0.19276872, 0.74468386, 0.06266157,
       0.03069706, 0.04061165, 0.22883381, 0.3893153 , 0.32173264,
       0.15657979, 0.13852797, 0.9072939 , 0.40997747, 0.9845626 ,
       0.9072939 , 0.11889385, 0.06526279, 0.94223714, 0.9953556 ,
       0.9207477 , 0.98405886, 0.09905877, 0.01184973, 0.19895728,
       0.9470784 , 0.712877  , 0.13896804, 0.82281494, 0.03143375,
       0.9684383 , 0.04255593, 0.72662675, 0.10033469], dtype=float32)

In [24]:
print(roc_auc_score(y_val, pred))

0.8548089591567852

#### modeling

In [25]:
xg = XGBClassifier(n_estimators = 100 ,max_depth = 3)
xg.fit(x_train, y_train)
pred = xg.predict_proba(x_test)[:,1]
pred

array([0.0309699 , 0.06284906, 0.07626989, 0.0686041 , 0.35415214,
       0.09917002, 0.25619215, 0.06572887, 0.9622808 , 0.02547976,
       0.03773899, 0.3586566 , 0.93959254, 0.03410101, 0.98324955,
       0.84265953, 0.0835636 , 0.3855232 , 0.5257023 , 0.11988548,
       0.42215273, 0.18054527, 0.9919035 , 0.60333145, 0.990956  ,
       0.03588508, 0.99554473, 0.3635637 , 0.6158621 , 0.16159686,
       0.04234828, 0.16878077, 0.41083756, 0.11773786, 0.88465923,
       0.40745133, 0.34653994, 0.2242139 , 0.11335222, 0.55214894,
       0.10073981, 0.60402185, 0.05044821, 0.9558653 , 0.9628    ,
       0.2758551 , 0.11825985, 0.13821585, 0.99351853, 0.58542097,
       0.53387904, 0.13655984, 0.88408977, 0.9194474 , 0.35290697,
       0.01246351, 0.02640134, 0.13013779, 0.09247188, 0.9966274 ,
       0.06228453, 0.18963687, 0.16907573, 0.8459778 , 0.67084336,
       0.88436806, 0.8458378 , 0.06544142, 0.2767714 , 0.9766159 ,
       0.74345356, 0.03235615, 0.69489646, 0.17098066, 0.99004936,
       0.61737597, 0.09709232, 0.70964044, 0.2834743 , 0.74345356,
       0.98216647, 0.13128158, 0.13809112, 0.03773899, 0.13221298,
       0.11358691, 0.7543277 , 0.57384723, 0.72397214, 0.9455642 ,
       0.28803042, 0.10414417, 0.92269015, 0.09709232, 0.6085235 ,
       0.21253732, 0.9371666 , 0.33974403, 0.60176015, 0.12398089,
       0.97635627, 0.0611522 , 0.13821585, 0.10414417, 0.5391657 ,
       0.16120668, 0.14076936, 0.13821585, 0.0686041 , 0.056846  ,
       0.04360347, 0.72397214, 0.995874  , 0.8488143 , 0.9544876 ,
       0.1314589 , 0.06290371, 0.8869507 , 0.54218507, 0.89969337,
       0.962216  , 0.11500144, 0.99683434, 0.01068832, 0.13821585,
       0.6867015 , 0.11127919, 0.8175847 , 0.09770462, 0.11310332,
       0.12398089, 0.03310329, 0.09649985, 0.05032014, 0.01755306,
       0.15865852, 0.11379888, 0.11645402, 0.3308261 , 0.01981617,
       0.01554297, 0.9880354 , 0.33853006, 0.10378177, 0.5474893 ,
       0.06532268, 0.19396079, 0.06813658, 0.60402185, 0.14019498,
       0.9878847 , 0.08468816, 0.08570121, 0.4037938 , 0.08581428,
       0.09817751, 0.97511303, 0.6098322 , 0.5474893 , 0.39724085,
       0.81087744, 0.98216647, 0.9060697 , 0.01838248, 0.09770462,
       0.5235438 , 0.07458612, 0.09016066, 0.94153196, 0.2242139 ,
       0.01781402, 0.11379888, 0.04867769, 0.10327051, 0.14439005,
       0.94423443, 0.95515054, 0.4168887 , 0.9145956 , 0.943613  ,
       0.2834743 , 0.38321906, 0.9837588 , 0.13821585, 0.98838115,
       0.15499349, 0.82789695, 0.14624996, 0.03535096, 0.16843365,
       0.10199375, 0.22979808, 0.32642615, 0.04943531, 0.72993964,
       0.05831062, 0.9831246 , 0.70657283, 0.05688962, 0.34653994,
       0.7792912 , 0.98386383, 0.47634387, 0.77676994, 0.09953289,
       0.4176956 , 0.22190188, 0.09505371, 0.9469132 , 0.06158481,
       0.25237182, 0.01838248, 0.06980527, 0.9293078 , 0.08791032,
       0.09096305, 0.7543277 , 0.2117305 , 0.98992914, 0.09709232,
       0.93472654, 0.07433627, 0.8554781 , 0.12089516, 0.6193214 ,
       0.5747462 , 0.11143839, 0.72397214, 0.05220253, 0.10965409,
       0.22622484, 0.9767944 , 0.05233533, 0.13951077, 0.5414229 ,
       0.09477451, 0.23058529, 0.32539573, 0.8823656 , 0.9854783 ,
       0.5554709 , 0.91552585, 0.32691497, 0.03773899, 0.0341811 ,
       0.11960781, 0.82789695, 0.04944026, 0.89969337, 0.30541265,
       0.9199961 , 0.14612134, 0.25041994, 0.10832595, 0.14391199,
       0.01781402, 0.13821585, 0.1521712 , 0.8509159 , 0.10512272,
       0.06295296, 0.10614576, 0.94119674, 0.8585155 , 0.24183317,
       0.03773899, 0.03033227, 0.01781402, 0.34653994, 0.08340424,
       0.59839433, 0.13821585, 0.95283276, 0.7797449 , 0.11379888,
       0.82129204, 0.12681489, 0.06866832, 0.11094157, 0.05680336,
       0.22449386, 0.98292047, 0.72397214, 0.47949517, 0.439741  ,
       0.0037589 , 0.01781402, 0.13636187, 0.10327051, 0.09709232,
       0.10415639, 0.17120747, 0.10327051, 0.04842338, 0.1048976 ,
       0.03773899, 0.9702839 , 0.16159686, 0.2454551 , 0.11000676,
       0.03352748, 0.13655984, 0.01371567, 0.06948402, 0.72397214,
       0.83924896, 0.17361298, 0.98753035, 0.1501166 , 0.06504399,
       0.08340424, 0.3635637 , 0.01781402, 0.16989902, 0.9811545 ,
       0.81820667, 0.49801248, 0.08517972, 0.10515884, 0.10428099,
       0.10414417, 0.37554392, 0.11645402, 0.81017125, 0.9867915 ,
       0.08937389, 0.8945462 , 0.4435072 , 0.0652064 , 0.05539503,
       0.9205666 , 0.3088085 , 0.11379888, 0.9203547 , 0.03773899,
       0.45497733, 0.18963687, 0.00584805, 0.24660084, 0.10327051,
       0.11347181, 0.00538318, 0.05520936, 0.99641824, 0.04751002,
       0.67464674, 0.11645402, 0.16244638, 0.09279029, 0.9478118 ,
       0.97552574, 0.09953289, 0.06980527, 0.08608714, 0.6934902 ,
       0.13809112, 0.9683856 , 0.10515884, 0.13821585, 0.5423006 ,
       0.02990102, 0.95860386, 0.9478118 , 0.0686041 , 0.9945476 ,
       0.08060993, 0.11358691, 0.08750856, 0.97960943, 0.20528442,
       0.0368719 , 0.9988212 , 0.00990635, 0.04627736, 0.93069357,
       0.9860141 , 0.15872623, 0.05539503, 0.02008868, 0.33081543,
       0.13821585, 0.13951077, 0.14133097, 0.47513816, 0.11645402,
       0.9613427 , 0.15721835, 0.07390178, 0.13946465, 0.02021385,
       0.417274  , 0.9005971 , 0.11147263, 0.09295864, 0.06592135,
       0.9898561 , 0.13058165, 0.9897912 , 0.09662344, 0.02328608,
       0.99071044, 0.02899316, 0.9968106 , 0.07208549, 0.04958836,
       0.14383613, 0.03788677, 0.41727933, 0.49705815, 0.87617075,
       0.72397214, 0.9950959 , 0.41853732, 0.09709232, 0.9905077 ,
       0.0037589 , 0.09709232, 0.37453595], dtype=float32)

In [26]:
result_pred = pd.DataFrame(pred)
result_pred.columns = ['predict']
result_pred

      predict
0    0.030970
1    0.062849
2    0.076270
3    0.068604
4    0.354152
..        ...
413  0.097092
414  0.990508
415  0.003759
416  0.097092
417  0.374536

[418 rows x 1 columns]

In [27]:
result = pd.concat([x_test_id, result_pred],axis=1)
result

     PassengerId   predict
0            892  0.030970
1            893  0.062849
2            894  0.076270
3            895  0.068604
4            896  0.354152
..           ...       ...
413         1305  0.097092
414         1306  0.990508
415         1307  0.003759
416         1308  0.097092
417         1309  0.374536

[418 rows x 2 columns]

In [ ]:
# result.to_csv('수험번호.csv', index=False) #index=False **필수**